@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Life+Savers:800&display=swap');

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Style
- Structure
- Typography
- Boxes
- Miscellaneous
*/

/* Base Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	html { font-size: 90%; }
	.wrapper { text-align: center; }
    .left { text-align: left; }
    .center { vertical-align: middle; }
    a { color:inherit; text-decoration: none; }


/* Structure
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.abbb,.bbaba,.bbabb,.bbabc,.bbaa,.bbbbaaa,
    .bbbbbaa,.bbbbcaa,.bbbbabb { align-items: center; }
    .a { 
    	margin-top: -.5rem; 
		padding-top: 1rem; 
		margin-left: -.5rem;
		margin-right: -.5rem; 
	}
	.ba,
	.bc { margin-left: -.5rem; margin-right: -.5rem; }
	.c {
		margin-bottom: -.5rem;
		margin-left: -.5rem;
		margin-right: -.5rem;
	}
	.bbb { margin-top: 1.5rem; margin-bottom: 1.5rem; }
	.bbba { margin-right: 1.5rem; }
	.bbbb { margin-left: 1.5rem; }
	.lg-bbb { margin: 3rem; }
	.lg-bbbb { margin-left: 2rem; }
	.rg-bbbe { margin-top: 2rem; }
	.en-bbba { margin-right: 2rem; }
	.ql-toolbar { text-align: left; }
	.pr-bbba,.pr-bbbb { margin-top: 4rem; margin-right: 7rem; }
	.pr-bbbbc { align-items: center; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	/* Font Family
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.abab { font-family: 'Mansalva', cursive; }

    	.cbb,.bbbaac,.bbbabc,.bbbacc,.bbbadc,.bbbbaaa,.bbbbbaa,
	    .bbbbcaa,.bbbbaba>input,.bbbbbb,.lg-abaa,
		.lg-abba,.lg-abdb,.lg-bbbbab,.lg-bbbbbb,
		.lg-bbbbcb,.lg-bbbbdb,.lg-abab>input,
		.lg-abbb>input,.lg-bbbbeb,.lg-bbbbba
		.lg-bbbbca,.lg-bbbbda,
		.lg-bbbbea,.lg-abcb>button,.rg-bbba,
		.rg-bbbb,
		.rg-bbbc,
		.rg-bbbd,
		.rg-bbbeaa,
		.rg-bbbeba,
		.rg-bbbeca,
		.rg-bbbeda,
		.rg-bbbeeb,
		.rg-bbbefb,
		.rg-bbbeg,
		.pr-bbba,
		.pr-bbbba,
		.pr-bbbbb,
		.pr-bbbbd,
		.pr-bbbbca,
		.bbbaab,
		.bbbabb,
		.bbbacb,
		.bbbadb,
    	.pr-bbbbcb,.bbbbaab,
		.bbbbbab,.bbbbcab { font-family: "Open Sans", sans-serif; }

        .adaab,.adabb,.abbb,
    	.abbc,
    	.pr-bbbbca,
    	.pr-bbbba,
    	.pr-bbbbb,
    	.pr-bbbbd>button { font-family: "Life Savers", cursive;  }
		 
	/* Font Size
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.abab,
		.lg-abdb { font-size: .9rem; }

		.cbb,.bbbbaba>input,
        .bbbbbb,.bbab,.adaab,.adabb,
		.pr-bbbab, 
		.pr-bbbac,
		.pr-bbbad,
		.pr-bbbae, 
		.pr-bbbbb,
		.pr-bbbbca { font-size: 1.1rem; }

		.bbbbaaa,.bbbbaab,.bbbbbaa,.bbbbbab,.lg-bbbbab,
	    .bbbbcaa,.bbbbcab,.rg-bbba,.pr-bbbba {  font-size: 1.5rem; }
	  	.pr-bbbaa { font-size: 10.4rem; }
    

	/* Font Color
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.abab,
		.adaab,
	    .adabb, 
		.abbc,
		.adaaa,
	    .adaba { color: #ff8200; }
	    .cbb { color: #c2ccc2; }
	    .lg-abaa,
		.lg-abba,
	    .bbbbaaa,
	   	.bbbbaab,
	    .bbbbbaa,
	    .bbbbbab,
	    .bbbbcaa,
	    .bbbbcab,
		.bbbaab,
	    .bbbabb,
	    .bbbacb,
	    .bbbadb,
	    .lg-bbbbba,
		.lg-bbbbca,
		.lg-bbbbda,
		.lg-bbbbea,
		.rg-bbba,
		.rg-bbbb,
		.rg-bbbc,
		.rg-bbbd,
		.rg-bbbeaa,
		.rg-bbbeba,
		.rg-bbbeca,
		.rg-bbbeda,
		.rg-bbbeeb,
		.rg-bbbefb,
		.pr-bbbba,
		.pr-bbbbb,
		.pr-bbbbca { color: rgb(51, 51, 51);}
		.bbbaac,
	    .bbbabc,
	    .bbbacc,
	    .bbbadc,
	    .rg-bbbeg>button { color: rgb(48, 48, 48); }
		.abbb { color: #ffffff; }
        .bbbbaba>input { color: rgb(85, 85, 85); }
        .bbbbbb, .pr-bbba,
        .lg-abdb,
		.lg-bbbbbb,
		.lg-bbbbcb,
		.lg-bbbbdb,
		.lg-bbbbeb,
		.pr-bbbbcb { color: rgb(112, 112, 112); }

	/* Images
	–––––––––––––––––––––––––––––––––––––––––––––– */
					
	/* Miscellaneous
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.lg-bbbbab,
		.bbbbaaa,
	    .bbbbaab,
	    .bbbbbaa,
	    .bbbbbab,
	    .bbbbcaa,
	    .bbbbcab,
		.bbbaab,
	    .bbbabb,
	    .bbbacb,
	    .bbbadb,
	    .rg-bbba,
		.pr-bbbba,
		.en-bbbab { font-weight: 700; }
	 	.bbbaac,
	    .bbbabc,
	    .bbbacc,
	    .bbbadc { text-align: justify; text-justify: inter-word; padding: 1rem; }

	    .rg-bbbb,
		.rg-bbbc,
		.rg-bbbd,
		.rg-bbbeaa,
		.rg-bbbeba,
		.rg-bbbeca,
		.rg-bbbeda,
		.rg-bbbeeb,
		.rg-bbbefb,
		.rg-bbbeg>button,
		.pr-bbbbd>button { font-weight: 400; }
		
/* Boxes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	/* Borders
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.abaa { border-radius: .8rem; }
		.bbbbcb,
        .bbbbaba { border: 1px solid #c2ccc2; }
        .bbaba,
        .bbabb,
        .bbabc,
        .bbbbabb { border: 1px solid rgba(0, 0, 0, 0.25) }
        .cbbb,
        .cbbc,
        .cbbd,
        .cbbe { border-right: 2px solid rgb(204, 204, 204); }
		.lg-ababa>input,
		.lg-abbba>input { border: 1px solid rgb(201, 200, 199); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset; }
		.rg-bbbeg>button,
		.pr-bbbbd>button { border: 1px solid rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.25); }
		.en-bbbaa { border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem; }
		.pr-bbbaa { border-radius: 6.5rem; }


	/* Background-image
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		body { background-image: url('../images/body.png'); }
		.a { background-image: url('../images/backgroundTop.png');  } 
		.c { background-image: url('../images/backgroundBottom.png'); }
		.abaa { background-image: url('../images/logo.jpg'); }
		.bba,
        .baa,
        .bca { background-image: url('../images/header.png'); }
        .bbbc,
        .lg-bbbc { background-image: url('../images/hrvr.png'); }
		.bbaba,
    	.bbabb,
    	.bbabc,
        .bbbbabb { background-image: linear-gradient(to bottom, #ebebea, #c2c1be); }
        .bbbbac,
        .bbbbbc { background-image: url('../images/hrHz.png'); }
        .pr-bbbbd>button { background-image: linear-gradient(rgb(235, 235, 234) rgb(194, 193, 190)) }

	/* Background-size
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.abaa,
		.bba,
        .bbbc,
        .lg-bbbc { background-size: 100% 100%; }

	/* Miscellaneous
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
		.abaa { background-color: #FF8200; }
    	.bba,
    	.ql-toolbar { background-color: #dddddc; }
	    .bbaba,
	    .bbabb,
	    .bbabc { margin: .9rem .2rem .9rem .2rem; }
	    .lg-bbbc { margin-bottom: 7.5rem; }
	    .lg-bbbc { margin-top: -1rem; }
	    .rg-bbb { padding-top: 2rem; }
	    .rg-bbbeg>button,.en-bbbab { background-color: rgb(194, 193, 190); }
		.pr-bbbab, 
		.pr-bbbac,
		.pr-bbbad,
		.pr-bbbae,
		.en-bbbaa, .en-bbbac { background-color: rgb(255, 255, 255); }

		
/* Miscellaneous
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	
